{% extends 'base.html' %}
{% load l10n %}
{% block content %}

    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Header -->
        <!-- Header -->

        <!-- Page content -->
        <div class="container-fluid mt-6">
            <form method="post" action="." enctype="multipart/form-data" class="">
                <div class="row d-flex justify-content-center">
                    <div class="col-10">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class=" col-10">
                                        <h5 class="mb-0">
                                            Alterar Status
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group px-0">
                                            <label class="control-label  px-0 text-sm d-block"
                                                   for="">
                                                Nome
                                            </label>
                                            {{ object.apartment }}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group px-0">
                                            <label class="control-label  px-0 text-sm d-block"
                                                   for="">
                                                Data de vencimento
                                            </label>
                                            {{ object.due_date }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        {% include "includes/form.html" %}
                                    </div>
                                    <div id="form2" class="col-lg-12">
                                        {#                                        {% include "includes/form.html" with form=formgas %}#}
                                    </div>
                                </div>
                                <hr class="my-4 mt-5"/>
                                <div class=" text-right d-flex justify-content-between">
                                    <div class=" col-12 text-right d-flex justify-content-between">
                                        <a href="{% url 'billing:billing_condo_list' %}"
                                           class="btn btn-neutral">Voltar</a>
                                        <button type="submit" class="btn btn-primary">
                                            Salvar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->

{% endblock content %}

{% block extra_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#id_due_date').mask("00/00/0000");

        });

    </script>
{% endblock extra_script %}

