{% extends "base.html" %}

{% block content %}


    <!-- Header -->
    <!-- Header -->

    <!-- Page content -->
    <div class="container-fluid mt-8 ">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="mb-0">Lista de Clientes</h4>
                         <div class="col-lg-6 col-5 text-right">
                        <a href="{% url 'create_customer' %}" class="btn btn-sm btn-success">Cadrastar Cliente</a>
                             <div class="input-group d-flex justify-content-end mx-2">
                                 <form action="" type="submit">
                                     <input class="form-control" name="search" placeholder="Buscar" type="text">
                                 </form>
                             </div></a>
                    </div>
                    </div>
                      <div class="table-responsive py-4 px-4">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th class="col">Nome</th>
                                <th class="col">Telefone</th>
                                <th class="col">Rua</th>
                                <th class="col">Bairro</th>
                                <th class="col">Cidade</th>
                                <th class="col">Estado</th>
                                <th class="col">CEP</th>


                                <th scope="col"></th>

                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for customer in object_list %}
                                <tr>
                                        <td class="text-sm">
                                            <a href="">
                                                {{ customer.first_name }} {{ customer.last_name }}
                                            </a>
                                        </td>
                                    <td class="text-sm">
                                        {{ customer.phone }}
                                    </td>
                                    <td class="text-sm">
                                        {{ customer.email }}
                                    </td>
                                    <td class="text-sm">
                                        {{ customer.district }}
                                    </td>
                                    <td class="text-sm">
                                        {{ customer.city }}
                                    </td>
                                    <td class="text-sm">
                                        {{ customer.state }}
                                    </td>
                                    <td class="text-sm">
                                        {{ customer.cep }}
                                    </td>
                                    <td class="text-right d-flex justify-content-center">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-link" type="button"
                                                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="false"
                                                    aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-dark"></i>

                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item-text"
                                                   href="{% url 'update_customer' customer.id %}">
                                                    <i class="fas fa-user text-primary"></i>
                                                    <span class="text-sm ">Editar</span>
                                                </a></li>

                                                <li><a class="dropdown-item-text"
                                                   href="{% url 'delete_customer' customer.id %}">
                                                    <i class="fas fa-trash text-danger "></i>
                                                    <span class="text-sm ">Excluir</span>
                                                </a></li>
                                            </ul>
                                        </div>
                                    </td>
                                       {% endfor %}
                                </tr>
                            </tbody>
                             <button type="button" class="btn btn-success">Load More Post</button>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->


{% endblock content %}