<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
       id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-block d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <nav class="navbar-brand m-0 text-center" href="#" target="blank">

            <img src="#" class="navbar-brand-img h-100" alt="main_logo">
            <br>
            <span class="ms-1 font-weight-bold">{{ company.name }}</span>
        </nav>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'home' %}"
                   class="nav-link {% if '/invoice/' in request.path %} active {% endif %}">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fas fa-file-invoice-dollar text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Pagina Inicial</span>
                </a>

            </li>
<!--            <li class="nav-item">-->
<!--                <a data-bs-toggle="collapse" href="#pagesExamples" class="nav-link " aria-controls="pagesExamples"-->
<!--                   role="button" aria-expanded="false">-->
<!--                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">-->
<!--                        <i class="fas fa-money-check  text-success text-sm opacity-10"></i>-->
<!--                    </div>-->
<!--                    <span class="nav-link-text ms-1">Cobranças</span>-->
<!--                </a>-->
<!--                <div class="collapse {% if '/billing/' in request.path %} show {% endif %}" id="pagesExamples">-->
<!--                    <ul class="nav ms-4">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link {% if '/billing/' == request.path %} active {% endif %}"-->
<!--                               href="">-->
<!--                                <span class="sidenav-mini-icon text-xs"> C </span>-->
<!--                                <span class="sidenav-normal"> Condomínio </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link {% if '/billing/apartment/' in request.path %} active {% endif %}"-->
<!--                               href="{% url 'list_employee' %}">-->
<!--                                <span class="sidenav-mini-icon text-xs"> A </span>-->
<!--                                <span class="sidenav-normal"> Funcionarios </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link {% if '/billing/gas/' in request.path %} active {% endif %}"-->
<!--                               href="">-->
<!--                                <span class="sidenav-mini-icon text-xs"> G </span>-->
<!--                                <span class="sidenav-normal"> Gás </span>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </li>-->
            <li class="nav-item">
                <a href="{% url 'list_customer' %}" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="ni ni-building text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list_product' %}" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="ni ni-building text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Produtos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list_employee' %}" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="ni ni-building text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Funcionarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list' %}" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="ni ni-building text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Usuários</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list_company' %}" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fas fa-user text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Empresa</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="{% url 'list_sales' %}" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fas fa-user text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Vendas</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list_sales' %}" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fas fa-user text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">blog</span>
                </a>
            </li>
            <li class="nav-item">
                <hr class="horizontal dark"/>
                <a href="" class="nav-link ">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="ni ni-settings-gear-65 text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Configurações</span>
                </a>
            </li>
        </ul>
    </div>

</aside>