{% extends "base.html" %}

{% block content %}

    <!-- Header -->
    <!-- Header -->

    <!-- Page content -->
    <div class="container-fluid mt-8 ">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="mb-0">Lista de Produtos</h3>
                         <div class="col-lg-6 col-5 text-right">
                        <a href="{% url 'create_product' %}" class="btn btn-sm btn-success">Cadrastar Produtos</a>
                             <div class="input-group d-flex justify-content-end mx-2">
                                 <form action="" type="submit">
                                     <input class="form-control" name="search" placeholder="Buscar" type="text">
                                 </form>
                             </div></a>
                    </div>
                    </div>
                      <div class="table-responsive py-4 px-4">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th class="col">Descrição</th>
                                <th class="col">Valor</th>
                                <th class="col">Categoria</th>

                                <th scope="col"></th>

                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for product in object_list %}
                                <tr>
                                        <td class="text-sm">
                                            <a href="">
                                                {{ product.description }}
                                            </a>
                                        </td>
                                    <td class="text-sm">
                                        {{ product.value }}
                                    </td>
                                    <td class="text-sm">
                                        {{ product.category }}
                                    </td>
                                    <td class="text-right d-flex justify-content-center">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-link" type="button"
                                                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="false"
                                                    aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-dark"></i>

                                            </button>
                                            <ul class="dropdown-menu text-success">
                                                <li><a class="dropdown-item-text"
                                                   href="{% url 'update_product' product.id %}">
                                                    <i class="fas fa-user text-success"></i>
                                                    <span class="text-sm ">Editar</span>
                                                </a></li>

                                                <li><a class="dropdown-item-text"
                                                   href="{% url 'delete_product' product.id %}">
                                                    <i class="fas fa-trash text-danger "></i>
                                                    <span class="text-sm ">Excluir</span>
                                                </a></li>
                                            </ul>
                                        </div>
                                    </td>
                                       {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->


{% endblock content %}