{% extends "base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block content %}

    <div class="container pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5">
                <div class="card my-5">
                    <div class="card-header d-flex justify-content-center">
                        <h3 class="">Definir Nova Senha</h3>
                    </div>
                    <div class="card-body px-lg-5 py-lg-2">
                            <p>Por favor, digite sua nova senha.</p>
                            <form method="post">{% csrf_token %}
                                <div class="form-group">Digite a nova senha:
                                    <div class="input-group input-group-merge input-group-alternative">
{#                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>#}
                                            {{ form.new_password }}
                                            {{ form.new_password.errors|safe }}
                                    </div>
                                </div>
                                <div class="form-group">Confirme a nova senha:
                                    <div class="input-group input-group-merge input-group-alternative">
{#                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>#}
                                             {{ form.confirm_password }}
                                             {{ form.confirm_password.errors|safe }}
                                    </div>
                                </div>
                                <div class="form-group text-center d-flex justify-content-between">
                                    <a class="btn btn-neutral" href="{% url 'invoice:invoice_list' %}">
                                        <i class="fa fa-backspace"></i>
                                        <span>Voltar</span>
                                    </a>
                                    <button class="btn btn-primary" type="submit" name="submit">
                                        <i class="fa fa-save"></i>
                                        <span>Confirmar</span>
                                    </button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>