{% extends "base.html" %}
{% load static %}

{% block content %}
     <div class="container  pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 text-justify">
                <div class="card my-9">
                    <div class="card-header d-flex justify-content-center">
                        <h3 class="d-flex justify-content-center">
                             Recuperação de Senha
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <i class="fa fa-check-circle"></i>
                            <strong>Ok</strong> -
                            <span>Solicitação enviada com sucesso!</span>
                        </div>
                        <p>
                            Enviamos pra você, um email com instruções de recuperação de sua senha.
                            Se uma conta existir com o email digitado, você
                            deverá recebê-lo agora mesmo.
                        </p>
                        <p>
                            <strong>Siga as instruções!</strong>
                        </p>
                        <p>
                            Caso não receba uma mensagem, por favor confirme
                            as seguintes possibilidades:
                        </p>
                        <blockquote>
                            <p class="ml-3">
                                <i class="fa fa-check-square"></i>
                                <span>
                            Email cadastrado, digitado corretamente
                        </span>
                            </p>
                            <p class="ml-3">
                                <i class="fa fa-check-square"></i>
                                <span>
                            Email enviado para a caixa de spam
                        </span>
                            </p>
                        </blockquote>
                        <hr>
                        <div class="text-right">
                            <a href="{% url 'login' %}" class="btn btn-dark">
                                Ir para a tela de login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
