
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">

            <h1>Olá {{ request.user.first_name }}!</h1>
            <p class="text-justify">
                Você está recebendo este email, porque você solicitou recuperação
                de sua senha de acesso do seu usuário em: {{ site_name }}.
            </p>


        Por favor, acesse a página e defina sua nova senha:} <br><br>

            <a href="{{ protocol }}://{{ domain }}{% url 'reset_confirm' uidb64=uid token=token %}" >Redefinir senha</a>
         <br><br><br>
        Seu usuário, no caso de ter se esquecido é: {{ user.get_username }}
        <br><br>

    </div>

</body>
</html>