{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block style %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Creative Tim">
        <title>Condominio</title>
        <!-- Favicon -->
        {% if workspace %}
            <link rel="icon" href="{{ workspace.favicon_url }}" type="image/png">
        {% else %}

            <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
            <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
            <link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
        {% endif %}
        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <!-- Icons -->
        <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}"
              type="text/css">
        <!-- Page plugins -->
        <!-- Argon CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/argon.css' %}?v=1.2.0" type="text/css">
        <style>
        b , strong{
            font-weight: 700;
        }
        </style>
    {% endblock style %}
    <style>
        .opacity {
            opacity: 0;
        }
        .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
        img {
            max-width: 100%;
        }
    </style>
    {% block extra_style %} {% endblock extra_style %}
</head>
<body class="g-sidenav-show g-sidenav-pinned">
{% block sidebar %}{% if request.user.is_authenticated %}
    {% include 'includes/sidebar.html' %}{% endif %}
{% endblock %}

<div class="main-content" id="panel">
    {% block navbar %}{% if request.user.is_authenticated %}
{% include 'includes/navbar.html' %}{% endif %}
    {% endblock navbar %}

    {% if request.user.is_authenticated %}
        {% block header %}
            <div class="header bg-gradient-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-lg-7">
                                {% block breadcrumb %}
                                    <h5 class="h2 text-white d-inline-block mb-0">Condominio {{ condo }}</h5>
                                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                            <li class="breadcrumb-item">
                                                <i class="fas fa-home"></i></li>

                                        </ol>
                                    </nav>
                                    <li class="nav-item dropdown">
                    <a class="nav-link" id="notification-bell" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fas fa-list"></i>
                  <div class="dropdown-menu">
                    <a class="dropdown-item-text" href="">
                        <i class="fas fa-building text-secondary text-sm "> Cadrastar condominio</i>
                    </a>
                  </div></a>

                </li>

                                {% endblock %}
                            </div>
                            <div class="col-lg-5">
                                {% block header_options %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}


    {% block messages %}
        {#% include 'includes/messages_modal.html' %#}
    {% endblock messages %}

    {% block content %}

    {% endblock content %}

    {% block footer %}
        {#% include 'includes/authenticated/footer.html' %#}
    {% endblock footer %}
</div>

{% block script %}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <!-- Optional JS -->
    <script src="{% static 'vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'js/argon.js' %}?v=1.2.4"></script>
    <!-- Demo JS - remove this in your project -->
    <script src="{% static 'js/demo.min.js' %}"></script>
    <script src="{% static 'notify/js/notify.js' %}"></script>
{% endblock %}
{% block extra_script %} {% endblock extra_script %}
{% block inline_script %} {% endblock inline_script %}
</body>
</html>
