{% extends 'base.html' %}

{% block content %}



    <!-- Page content -->
    <div class="container-fluid mt-6">
    {% include "includes/messages.html" %}
        <div class="row">
            <div class="col-xl-4 order-xl-2">

                <!-- Progress track -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <!-- Title -->
                        <h5 class="h5 mb-0">Configurações do Condominio</h5>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- List group -->
                        <ul class="list-group list-group-flush list my--3">
                            <li class="list-group-item px-0">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">
                                        <a href="{% url 'settings_condo' %}">
                                            Editar Condominio
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item px-0">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">
                                        <a href="{% url 'expiration_day_apart_condo' %}">
                                            Editar Vencimento do Condominio
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item px-0">
                                <div class="media-body">
                                   <span class="name mb-0 text-sm">
                                        <a href="{% url 'update_value_gas_condo' %}">
                                            Editar Valor do Gas (m³)
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item px-0">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">
                                        <a href="{% url 'create_account_bank' %}">
                                            Editar Dados Bancarios
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item px-0">
                                <div class="media-body">
                                    <span class="name mb-0 text-sm">
                                        <a href="{% url 'list_monthlyplan' %}">
                                            Editar Valor do Plano do Condominio
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item px-0">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card">
                            <div class="card-header d-inline-flex justify-content-between">
                                <h5 class="mb-0">Conta Bancaria</h5>
                                <a href="{% url 'create_account_bank' %}" class="btn btn-sm btn-primary">Cadrastar
                                    Conta</a>
                            </div>
                    <div class="table-responsive py-4">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr class="">
                                <th class="col ">Nome do Titular</th>
                                <th class="col">Banco</th>
                                <th class="col">Agencia</th>
                                <th class="col">Conta</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for account in object_list %}
                                <tr>
                                    <td>
                                         {{ account.first_name }} {{ account.last_name }}
                                    </td>
                                    <td>
                                        {{ account.get_bank_code_display }}
                                    </td>
                                    <td>
                                        {{ account.agency_number }}
                                    </td>
                                    <td>
                                        {{ account.account_number }}
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-icon-only" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-dark"></i>

                                            </button>
                                            <div class="dropdown-menu ml--5">
                                                <a class="dropdown-item-text"
                                                   href="{% url 'update_account_bank' account.id %}">
                                                    <i class="fas fa-user text-blue "></i>
                                                    <span class="text-sm ">Editar</span>
                                                </a>

                                                <a class="dropdown-item-text"
                                                   href="{% url 'delete_account_bank' account.id %}">
                                                    <i class="fas fa-trash text-danger "></i>
                                                    <span class="text-sm ">Excluir</span>
                                                </a>
                                            </div>
                                        </div>
                                        <i class="fas fa-ellipsis-vertical"></i>
                                    </td>
                                </tr>

                            {% endfor %}
                            <tr>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
{% endblock %}