{% extends 'base.html' %}

{% block content %}

    <!-- Main content -->
    <div class="main-content" id="panel">
        {% include "includes/messages.html" %}
        <!-- Header -->
        <!-- Header -->

        <!-- Page content -->
        <div class="container-fluid mt-6">
            <form method="post" action="." enctype="multipart/form-data" class="">
                <div class="row d-flex justify-content-center">
                    <div class="col-10">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class=" col-10">
                                        <h5 class="mb-0">Editar Apartamento</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% csrf_token %}
                                {% include "includes/form.html" %}
                                <hr class="my-4 mt-5"/>
                                <div class=" text-right d-flex justify-content-between">
                                    <div class=" col-12 text-right d-flex justify-content-between">
                                        <a href="{% url 'apartment_list' %}" class="btn btn-neutral">Voltar</a>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->

{% endblock content %}

{% block extra_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_phone').mask("(00) 00000-0000");
            $('#id_owner_phone').mask("(00) 00000-0000");
            $('#id_birthday').mask("00/00/0000");
            $('#id_cep').mask("00000-000");
            $('#id_cpf').mask("000.000.000-00");
        });

        $("#form-group-owner_name").hide();
        $("#form-group-owner_phone").hide();
        $("#form-group-owner_email").hide();
        $(document).ready(function () {
            if ($('#id_owner').val() == "LOCATARIO") {
                $("#form-group-owner_name").show();
                $("#form-group-owner_phone").show();
                $("#form-group-owner_email").show();
            }
            else {
                $("#form-group-owner_name").hide();
                $("#form-group-owner_phone").hide();
                $("#form-group-owner_email").hide();
            }

        });

        $("#form-group-owner_name").hide();
        $("#form-group-owner_phone").hide();
        $("#form-group-owner_email").hide();
        $(document).change(function () {
            if ($('#id_owner').val() == "LOCATARIO") {
                $("#form-group-owner_name").show();
                $("#form-group-owner_phone").show();
                $("#form-group-owner_email").show();
            }
            else {
                $("#form-group-owner_name").hide();
                $("#form-group-owner_phone").hide();
                $("#form-group-owner_email").hide();
            }

        });


    </script>
{% endblock extra_script %}

