{% extends 'base.html' %}

{% block content %}

    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Header -->
        <!-- Header -->

        <!-- Page content -->
        <div class="container-fluid mt-6 ml-7">
            <div class="row">
                <div class="col-xl-10 order-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5 class="mb-0">Adicionar Gás </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" action="." enctype="multipart/form-data"
                                  class="">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        {% include "includes/field.html" with field=form.apartment %}
                                    </div>
                                    <div class="col col-lg-6">
                                        {% include "includes/field.html" with field=form.previous_reading %}
                                    </div>
                                    <div class="col col-lg-6">
                                        {% include "includes/field.html" with field=form.current_reading %}
                                    </div>
                                    <div class="col col-lg-6">
                                        {% include "includes/field.html" with field=form.starts_date %}
                                    </div>
                                    <div class="col col-lg-6">
                                        {% include "includes/field.html" with field=form.ends_date %}
                                    </div>

                                </div>


                                <hr class="my-4"/>
                                <div class="row align-items-center">
                                    <div class="">
                                        <h5 class="mb-0"></h5>
                                    </div>
                                    <div class="col-12 d-flex justify-content-between">
                                        <a href="{% url 'billing:billing_apartment_gas_list' %}"  class="btn btn-second">
                                            Cancelar
                                        </a>
                                        <button type="submit" class="btn btn-primary">
                                            Salvar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->

{% endblock content %}

{% block extra_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_phone').mask("(00) 00000-0000");
            $('#id_birthday').mask("00/00/0000");
            $('#id_cep').mask("00000-000");
        });
    </script>
{% endblock extra_script %}

